body{

    .contacto {

        form {
            width: 80%;
            transition: $transition;
        
                .form-floating{
                    width: 100%;
                }
        }
    }

    }


