main {
  .background {
    max-width: 80vw;
    height: 80vh;
  }

  .background-colors {
    display: none;
  }

  .col-8 {
    width: 100vw;

    img {
      max-width: 30% !important;
    }
  }

  .row {
    img {
      max-width: 30% !important;
    }
  }

  .link {
    background: -webkit-linear-gradient($rgba-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
