@media (min-width: 728px) {
  form {
    max-width: 50%;
    transition: $transition;
  }

  .servicios {
    width: 15vw;
    transition: $transition;
  }
}

@media (min-width: 1024px) {
  main {
    .contacto {
      height: 92vh;
    }

    .servicios {
      width: 8vw;
    }
  }
}
