$first-color: #5ef1bc;
$second-color: #56308c;
$third-color: #d952b5;
$fourth-color: #a63889;
$rgba-gradient:   rgba(94, 242, 188) 0%,
rgba(86, 48, 140) 50%,
rgba(217, 82, 181) 72%,
rgba(166, 56, 137) 100%;
$box-shadow-btn: 0 0 6px 0 rgba(157, 96, 212, 0.5);
$box-shadow-card: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
$transition:  all 1s;
$transform: scale(1.05);
