<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- css -->
  <link rel="stylesheet" href="../public/css/styles.css" />
  <!-- Fontawesome -->
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
  <title>Bio</title>
  <link rel="icon" type="image/x-icon" href="../public/img/Logo/logo-nav-footer.svg">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg fixed-top top-0">
      <div class="container-fluid">
        <a href="../index.html"><img src="../public/img/Logo/logo-nav-footer.svg" alt="Logo-ByM" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <a href="../index.html"><img src="../public/img/Logo/logo-nav-footer.svg" alt="Logo-ByM" /></a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" id="bio"href="../views/bio.html">Bio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="servicios" href="../views/servicios.html">Servicios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="portfolio" href="../views/portfolio.html">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contacto" href="../views/contacto.html">Contacto</a>
              </li>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section class="d-flex justify-content-around mt-5 pt-5">
      <section>
        <article>
          <img class="background-colors container-fluid" src="../public/img/Background/colors.svg" alt="Paleta-de-colores">
        </article>
      </section>
      <section class="d-flex justify-content-center m-5 text-center">
        <article class="justify-content-center text-center bg-6">
          <h1>Hola! Soy Macarena Bernal</h1>
          <span class="fs-2">UX/UI Designer & Fullstack Web Developer</span>
          <article class="text-center mt-5">
            <p>Creé By M como un estudio de diseño y desarrollo multidiciplinario</p>
            <p>Se caracteriza por un estilo innovador con toques minimalistas y colores llamativos</p>
            <p>Nuestro estudio apunta a captar la atención de un público juvenil con perfil emprendedor y creativo</p>
          </article>
        </article>
      </section>
    </section>
    <section>
      <div class="us d-flex justify-content-end me-4">
        <section class="us__paragraphs">
            <article class="us__paragraphs--vision">
                <h3>Visión</h3>
                <p>Trabajamos desde la responsabilidad, la confianza y la solaridad como nuestros pilares fundamentales de nuestro equipo.
                </p>
            </article>
            <article class="us__paragraphs--creativity">
                <h3 class="us__paragraphs--h3">Creatividad</h3>
                <p>La conceptualización como base para proyectar ideas. Y nuestro lema: "La inspiración existe pero debe encontrarte trabajando" Picasso.
                </p>
            </article>
            <article class="us__paragraphs--pasion">
                <h3>Pasión</h3>
                <p>Es el principal motivador para hacer lo que elegimos, aprender en todo momento y continuar haciendo nuevos proyectos.
                </p>
            </article>
        </section>
    </section>
    <section>
      <img class="container-fluid mt-5 pt-5" src="../public/img/Moodboard/flyer.svg" alt="Moodboard">
    </section>
  </main>
  <footer class="mt-5">
    <div class="redes d-flex justify-content-center">
      <a href=""><i class="fa-brands fa-instagram text-black ms-2 me-2" id="ig"></i></a>
      <a href="https://www.behance.net/macarenbernal"
        ><i class="fa-brands fa-square-behance text-black ms-2 me-2" id="behance"></i
      ></a>
      <a href="https://www.linkedin.com/in/macarena-bernal-ramirez/"
        ><i class="fa-brands fa-linkedin text-black ms-2 me-2" id="linkedin"></i
      ></a>
      <a href="https://github.com/Mcsand22">
        <i class="fa-brands fa-github text-black ms-2 me-2" id="github"></i></a>
  </div>
  </div>
  <p class="copy d-flex justify-content-center mt-2">With<i class="fa-solid fa-heart ms-2 me-2" id="heart"></i>by Mcsand</p>
  </footer>
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
